:root{
    --teal : #031634;
    --cobalt : #033649;
    --turquoise : #066464;
    --beige : #CEB280;
    --gold : #EADDCC;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing : inherit;
}

body {
    margin : 0px;
    padding : 0px;
    color : white;
    background-color: var(--teal);
}

h1, h2, h3, h4, h5, h6 {
    margin : 0px;
}

#intro p{
    font-size : 1.5rem;
    line-height : 1.5;
}

.name span {
    display : block;
    color : var(--gold);
    font-size : 4rem;
}